.form-inline .form-group {
    padding-left: 0;
    padding-right: 0;
}

.form-inline label {
    line-height: 34px;
}

.form-inline .form-control {
    width: 100%;
}

@media (min-width: 768px) {
    .form-inline .form-group {
        margin-bottom: 15px;
    }
}