
.search-form .margin-top100
{
    margin-top: 100px;
}

.search-form button {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 44px;
    width: 150px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.search-form button:hover {
    background: #cf110a;
}